<nav class="navbar navbar-default navbar-fixed-top">
  <app-translate></app-translate>
  <div class="container">
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">{{ 'NAVIGATE.ABOUT' | translate }}</a></li>
        <li><a href="#toursgeo">{{ 'NAVIGATE.TOURS' | translate }}</a></li>
        <li><a href="#services">{{ 'NAVIGATE.SERVICES' | translate }}</a></li>
        <li><a href="#contact">{{ 'NAVIGATE.CONTACT' | translate }}</a></li>
      </ul>
    </div>
  </div>
</nav>
