<div id="toursgeo" class="container-fluid">
  <div class="text-center">
    <h2>Tours in Georgia</h2>
    <h4>Choose a payment plan that works for you</h4>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Mestia Tour</h1>
        </div>
        <div class="panel-body">
          <p><strong>TBILISI-TSALKA-BAKURIANI HOTEL(VILLA  PALLASE)</strong></p>
          <p><strong>BAKURIANI-NINE CKARO-AKHALKHALAKHI-AKHALCIKHE</strong></p>
          <p><strong>AKHALCIKHE-ABASTUMANI-ZEKARI-SAIRME-TSKALTUBO HOTEL(PLAZA)</strong></p>
          <p><strong>TSKALTUBO-ZUGDIDI-BARJA-MESTIA HOTEL(USHBA)</strong></p>
          <p><strong>MESTIA-CHALA-USHGULI HOTEL</strong></p>
          <p><strong>USHGULI-LENTEKHI-KUTAISI</strong></p>
          <p><strong>KUTAIS-TBILISI-TOUR IN TBILISI-TRANSFER  IN AIRPORT.</strong></p>
        </div>
        <div class="panel-footer">
          <h3>$1200</h3>
          <h4>JEEP TOUR</h4>
          <button class="btn btn-lg">Reserve</button>
        </div>
      </div> 
    </div> 
    <div class="col-sm-4">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Pro</h1>
        </div>
        <div class="panel-body">
          <p><strong>TBILIS-SIGHNAGHI-TELAVI HOTEL(TELAVIS MARANI)</strong></p>
          <p><strong>TELAVI-TUSHETI-OMALO HOTEL(SHINA)</strong></p>
          <p><strong>OMALO-DARTLO-SHENAKO-DIKLO-TELAVI HOTEL(IKHAVTO)</strong></p>
          <p><strong>TELAVI-TIANETI-GUDAURI HOTEL(CLUB 2010)</strong></p>
          <p><strong>GUDAURI-KAZBEGI-GVELETI-GERGETI-TRUSO-KAZBEGI HOTEL (ROOMS)</strong></p>
          <p><strong>KAZBEGI-SHATILI HOTEL</strong></p>
          <p><strong>SHATILI- TBILISI-TOUR IN TBILISI-TRANSFER  IN AIRPORT.</strong></p>
        </div>
        <div class="panel-footer">
          <h3>$1000</h3>
          <h4>SPRINTER TOUR</h4>
          <button class="btn btn-lg">Reserve</button>
        </div>
      </div> 
    </div> 
   <div class="col-sm-4">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>BATUMI AND MESTIA TOUR</h1>
        </div>
        <div class="panel-body">
          <p><strong>TRANSFER IN HOTEL(HOLIDAY-INN)</strong></p>
          <p><strong>TBILISI-VARDZIA-AKHALCIKHE HOTEL</strong></p>
          <p><strong>AKHALCIKHE-KHULO-QEDA-BATUMI HOTEL (HILTON)</strong></p>
          <p><strong>BATUMI-ZUGDIDI-BARJA-MESTIA HOTEL(USHBA)</strong></p>
          <p><strong>MESTIA-CHALA-MESTIA-USHGULI HOTEL(RATIANI HOTEL)</strong></p>
          <p><strong>USHGULI-LENTEKHI-KUTAISI HOTEL</strong></p>
          <p><strong>KUTAISI-GORI-GUDAURI HOTEL(CLUB 2010)</strong></p>
          <p><strong>GUDAURI-KAZBEGI-GERGETI-GVELETITRUSO-GUDAURI HOTEL</strong></p>
        </div>
        <div class="panel-footer">
          <h3>$1100</h3>
          <h4>SPRINTER TOUR</h4>
          <button class="btn btn-lg">Reserve</button>
        </div>
      </div> 
    </div> 
  </div>
</div>